.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  font-size: 12px;
  color: #212529;
  border-bottom: 1px solid silver;
}

.container:last-child {
  border: none;
}

.image {
  width: 2.5rem;
}

.name {
  width: 10rem;
  font-size: 14px;
  margin-left: 0.1rem;
  font-weight: bold;
  color: #333333;
}

.symbol {
  width: 4rem;
}

.currentPrice {
  width: 3.5rem;
}

.greenPriceChange,
.redPriceChange {
  width: 3.5rem;
  font-weight: bold;
}

.redPriceChange {
  color: rgb(255, 38, 38);
}

.greenPriceChange {
  color: rgb(0, 204, 0);
}
